<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_CALL_LOG" /> <!-- For other phone number in CDRs -->
    <uses-permission android:name="android.permission.READ_SMS" /> <!-- For SMS events in CDRs -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- For SMS events in CDRs -->

</manifest>